<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Budget Program</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="main.js" defer></script>
</head>
<body>
    <div id="app">
        <!--Vue code inside mounted "app" div-->
        <h1>Budget Calculator</h1>

        <div id="emptyFieldsPopup" class="popup" :class="{ show: showEmptyFieldsPopup }">
            *Input fields can't be empty.
        </div>
          
        <form id="input" @submit.prevent="addExpense">
            <input id="categoryInput" pattern="[A-Za-z]" v-model="categoryText" placeholder="Enter category here" title="Please enter letters only">
            <input id="amountInput" pattern="[0-9]" v-model="amountText" placeholder="Enter amount here" title="Please enter numbers only">
            <input id="dateInput" pattern="[0-9-]" v-model="dateText" placeholder="Enter date here (y-m-d)" title="Please enter numbers and hypens only">
            <button type="submit" id="inputSubmitButton" @click="sortHandler">Submit</button>
        </form>

        <ul class="expenseList">
            <!--Expenses go here-->
            <li v-for="(expense, index) in expenseList" :key="index" class="expenseListItem"> 
                <div class="listItemCategory">{{ expense.category }}</div>
                <div class="listItemAmount">{{ expense.amount }}</div>
                <div class="listItemDate">{{ expense.date }}</div>
                <div class="listItemDelete">
                    <button type="button" @click="deleteExpense(index)" class="listItemDeleteButton">❌</button>
                </div>
            </li>
        </ul>

        <ul class="filters">
            <li class="sortByCategory">
                <button type="button" @click="sortByCategory" class="sortByCategoryButton">Category</button>
            </li>
            <li class="sortByAmount">
                <button type="button" @click="sortByAmount" class="sortByAmountButton">Expenses</button>
            </li>
            <li class="sortByMonth">
                <button type="button" @click="sortByMonth" class="sortByMonthButton">Month</button>
            </li>
            <li class="clearExpenseList">
                <button type="button" @click="clearExpenseList" class="clearExpenseListButton">Clear</button>
            </li>
        </ul>
        

    </div>
</body>
</html>