<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Budget Program</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="main.js" defer></script>
</head>

<body>
    <div id="app">
        <div>
            <!--Vue code inside mounted "app" div-->
            <h1>Budget Calculator</h1>

            <div id="emptyFieldsPopup" class="popup" :class="{ show: showEmptyFieldsPopup }">
                *Input fields can't be empty.
            </div>

            <form id="input" @submit.prevent="addExpense">
                <input id="categoryInput" pattern="[A-Za-z]+" v-model="categoryText" placeholder="Enter category here"
                    title="Please enter letters only">
                <input id="amountInput" pattern="\d+" v-model="amountText" placeholder="Enter amount here"
                    title="Please enter numbers only">
                <input id="dateInput" pattern="\b\d{4}-\b\d{2}-\b\d{2}" v-model="dateText"
                    placeholder="Enter date here (y-m-d)" title="Please enter numbers and hypens only">
                <button type="submit" id="inputSubmitButton">Submit</button>
            </form>

            <ul class="expenseList">
                <!--Expenses go here-->
                <li v-for="(expense, index) in expenseList" :key="index" class="expenseListItem" :class="{hidden: expense.hidden}">
                    <div class="listItemCategory">{{ expense.category }}</div>
                    <div class="listItemAmount">{{ expense.amount }}kr</div>
                    <div class="listItemDate">{{ expense.date }}</div>
                    <div class="listItemDelete">
                        <button type="button" @click="deleteExpense(index)" class="listItemDeleteButton">❌</button>
                    </div>
                </li>
            </ul>

            <ul class="filters">
                <li class="sortByCategory">
                    <button type="button" @click="sortByCategory" class="sortByCategoryButton">Category</button>
                </li>
                <li class="sortByAmount">
                    <button type="button" @click="sortByAmount" class="sortByAmountButton">Expenses</button>
                </li>
                <li class="sortByDate">
                    <button type="button" @click="sortByDate" class="sortByDateButton">Date</button>
                </li>
                <li class="clearExpenseList">
                    <button type="button" @click="clearExpenseList" class="clearExpenseListButton">Clear</button>
                </li>
            </ul>

            <div class="diagramOptionsAndData">
                <select id="yearDropDown" @change="currentYearListChange($event)">
                    <option v-for="(year, index) in yearList" :key="index">{{ year.year }}</option>
                </select>
                <button type="button" @click="addData" class="addDataButton">Add Preset Data</button>
                <p id="TotalExpenses"> Total Expense: {{ calcTotalExpense() }}kr</p>
            </div>

            <div>
                <ul class="monthNamesList">
                    <p class="monthNames">Jan</p>
                    <p class="monthNames">Feb</p>
                    <p class="monthNames">Mar</p>
                    <p class="monthNames">Apr</p>
                    <p class="monthNames">May</p>
                    <p class="monthNames">Jun</p>
                    <p class="monthNames">Jul</p>
                    <p class="monthNames">Aug</p>
                    <p class="monthNames">Sep</p>
                    <p class="monthNames">Oct</p>
                    <p class="monthNames">Nov</p>
                    <p class="monthNames">Dec</p>
                </ul>
            </div>

        </div>
        <div>
            <svg><!--498px X 348px average space would be 41.5px-->
                <g v-for="(monthList, index) in currMonthList" :key="index">
                    <rect :x="5 + index * 41.5" :y="318 - monthList.amount / 100" width="30"
                        :height="monthList.amount / 100" />
                    <text :x="5 + index * 41.5" :y="308 - monthList.amount / 100">{{ monthList.name }}</text>
                    <text :x="5 + index * 41.5" :y="345 - monthList.textAmountPos">{{ monthList.amount }}kr</text>
                </g>
            </svg>
        </div>
    </div>
</body>

</html>