<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Budget Program</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="main.js" defer></script>
</head>
<body>
    <div id="app">
        <!--Vue code inside mounted "app" div-->
        <h1>Budget Calculator</h1>

        
        <form id="input" @submit.prevent="addExpense">
            <input id="categoryInput" v-model="categoryText" placeholder="Enter category here">
            <input id="amountInput" v-model="amountText" placeholder="Enter amount here">
            <input id="dateInput" v-model="dateText" placeholder="Enter date here">
            <button type="submit">Submit</button>
        </form>

        <ul class="expenseList">
            <!--Expenses go here-->
            <li v-for="(expense, index) in expenseList" :key="index"> 
                {{ expense.category }} {{ expense.amount }} {{ expense.date }}

                <button type="button" @click="deleteExpense(index)">Delete</button>
            </li>
        </ul>

        <ul class="filters">
            <li>
                <button type="button" @click="sortByCategory">Category</button>
            </li>
            <li>
                <button type="button" @click="sortByExpense">Expenses</button>
            </li>
            <li>
                <button type="button" @click="sortByMonth">Month</button>
            </li>
        </ul>
        

    </div>
</body>
</html>