li {
    list-style: none;
}

ul {
    padding-left: 0px;
}

#input {
    max-width: 500px;
}

#categoryInput, #amountInput, #dateInput {
    width: 141px;
}

#inputSubmitButton {
    width: 53px;
    overflow: hidden;
    float: right;
    margin-left: auto;
}

.expenseList {
    margin-top: 25px;
    max-width: 500px;
}

.expenseListItem {
    display: flex;
    align-items: center;
}

.listItemCategory, .listItemAmount, .listItemDate {
    width: 149px;
}

.listItemDeleteButton {
    width: 53px;
    overflow: hidden;
    float: right;
    margin-left: auto;
}

.filters {
    display: flex;
    align-items: center;
}